<!doctype html>
<html>
  <head>
    <title>PiPo</title>
  </head>
  <body>
    <div id="mainContainer">
      <ul id="messages">
      </ul>
      <div id="menu">
        <div id="left-menu-profile">
        </div>
        <div id="left-menu-scroll">
          <div class="room-list-container">
            <h5 class="room-list-header">Rooms</h5>
            <ul id="room-list">
              <li class="room-list-item">#general</li>
            </ul>
          </div>
          <div class="user-list-container">
            <h5 class="user-list-header">Users</h5>
            <div id="user-list">
            </div>
          </div>
        </div>
        <div id="menu-actions">
        </div>
      </div>
    </div>
    <div class="input-container" id="input-container">
      <form>
        <div id="message-input-container" class="ui left fluid action icon input loading">
          <textarea id="message-input" class="message-input ui left icon loading" autocorrect="off" spellcheck="true" autocomplete="off" type="text" placeholder="          Please wait while your secure connection is configured..."></textarea>
          <i id="loading-icon" class="search icon"></i>
          <button id="send-button" class="ui button" disabled="true">Send</button>
        </div>
      </form>
    </div>
    <div class="ui small modal initial">
      <div class="header">Generate or Authenticate</div>
      <div class="content">No localStorage credentials were found, would you like to generate new credentials or authenticate using existing ones?</div>
      <div class="actions">
        <div class="ui button approve green generate" data-value="generate">Generate</div>
        <div class="ui button approve blue authenticate" data-value="authenticate">Authenticate</div>
      </div>
    </div>
    <div class="ui small modal create">
      <div class="header">Create</div>
      <form class="ui form content create">
        <div class="field">Select a username and a passphrase to encrypt your keys</div>
        <div class="field" style="display: none; color: red" id="createError"></div>
        <div class="field">
          <label for="username">Name</label>
          <input type="text" class="username" id="username">
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" class="password" id="password">
        </div>
        <div class="field">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="password" id="confirmPassword">
        </div>
      </form>
      <div class="actions">
        <div class="ui button approve green go" data-value="go">Go</div>
      </div>
    </div>
    <div class="ui small modal generate">
      <div class="header">Generate</div>
      <div class="content center">
        <i class="notched circle loading icon"></i> Generating credentials (this may take a bit)
      </div>
    </div>
    <div class="ui small modal unlock">
      <div class="header">Unlock Credentials</div>
      <form class="ui form content unlock">
        <div class="field">Enter the passphrase you selected to decrypt your keys</div>
        <div class="field" style="display: none; color: red" id="createError"></div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" class="password" id="password">
        </div>
      </form>
      <div class="actions">
        <div class="ui button approve green decrypt" data-value="decryptKeys">Decrypt</div>
      </div>
    </div>
    <div class="ui small modal authenticate">
      <div class="header">Authenticate</div>
      <div class="content">Please select your credentials</div>
      <div class="actions">
        <div class="ui button approve green" data-value="generate">Generate</div>
        <div class="ui button approve blue" data-value="authenticate">Authenticate</div>
      </div>
    </div>
    <link rel="stylesheet" href="/css/semantic.css">
    <link rel="stylesheet" href="/css/pipo.css">
    <link rel="stylesheet" href="/css/highlight.js/styles/default.css">

    <script src="/js/lib/openpgp.js"></script>
    <script src="/js/lib/kbpgp.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.2/semantic.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/highlight.min.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/livestamp.min.js"></script>

    <script src="/js/chat.js"></script>
    <script src="/js/socketClient.js"></script>
    <script src="/js/encryptionManager.js"></script>
    <script src="/js/marked.js"></script>

    <script>
      hljs.initHighlightingOnLoad();
      openpgp.initWorker('/js/lib/openpgp.worker.js');
    </script>


  </body>
</html>
