body, html { padding: 0; margin: 0; }

#mainContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
}

#messages p {
  display: inline;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages {
  position: absolute;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
  top: 0;
  right: 200px;
  bottom: 38px;
  box-sizing: border-box;
  overflow-y: scroll;
  left: 0;
  margin: 0;
}

#users {
  width: 200px;
  background: #717170;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
}

#inputContainer {
  width: 100%;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
}

#inputMultiline {

}

#message-input {
  overflow-y: hidden;
  padding: 9px 30px 9px 8px;
  background: padding-box #fff;
  border: 2px solid #E0E0E0;
  resize: none!important;
  border-radius: 0 .2rem .2rem 0;
  height: 38px;
  width: 100%;
  resize: none;
}

